body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.calculator {
    height: 550px;
    width: 350px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 35px;
    box-sizing: border-box;
    align-items: center;
    gap: 40px;
}

.screen {
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    background-color: rgb(98, 233, 233);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.upperText, .lowerText {
    font-size: 36px;
    font-weight: bold;
}

.keyboard {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 300px;
    gap: 15px;
}

.row {
    display: flex;
    gap: 10px;
}

.button {
    height: 40px;
    width: 70px;
    border-radius: 10px;
    font-size: 24px;
}

.orange {
    background-color: rgb(245, 161, 36);
    height: 40px;
    width: 70px;
    border-radius: 10px;
    font-size: 24px;
}

.gray {
    background-color: rgb(69, 68, 68);
    height: 40px;
    width: 70px;
    border-radius: 10px;
    font-size: 24px;
    color: rgb(222, 218, 218);
}

.zero {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 24px;
}

.clear-button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 24px;
}